section.page(data-ui-role="user-profile")
  section.media.row
    div.media__img.col-1-4
      img(data-hook="user-avatar")
    div.media__body--top.col-3-4.push-down--3
      h2(data-hook="user-full-name")