li(data-ui-role="user-partial").row.media
  div.media__img.col-1-8
    img(data-hook="user-avatar")
  div.media__body.col-7-8
    span(data-hook="username").font--larger.col-1-2
    button(data-hook="action-delete-user").btn.btn--danger.col-1-6 Delete
    a(data-hook="action-user-profile").btn.btn--secondary.col-1-6 Show
    a(data-hook="action-user-edit").btn.btn--primary.col-1-6 Edit
