li(data-ui-role="user-partial").row
  span(data-hook="username").col-1-2
  button(data-hook="action-delete-user").btn.btn--danger.col-1-4 Delete
  a(data-hook="action-user-profile").btn.btn--secondary.col-1-4 Edit