color-primary--lighter = #FFD06C
color-primary = #d2ab59
color-primary--darker = #BA984F
color-heading = #666
color-white   = #fff
color-gray--darker = #333
color-gray--lighter = #BBB

font--normal = 16px
font--large = 20px
font--larger = 24px

.font--larger
  font-size: font--larger

.font--large
  font-size: font--large

.font--normal
  font-size: font--normal


.text--right
  text-align: right

body
  background-color: #999

ul
  list-style: none

a
  text-decoration: none
  color: color-heading

.color--primary
  color: color-primary

.btn
  padding: 20px
  color: color-white
  transition: .3s all ease
  font-weight: bold
  text-align: center

.btn--primary
  background-color: color-primary
  color: color-gray--darker
  &:hover
    background-color: color-primary--darker
    color: color-gray--lighter
    transition: .3s all ease
  &.active
    background-color: color-primary--lighter
    &:hover
      background-color: color-primary--darker
      color: color-gray--lighter
      transition: .3s all ease

.row
  width: 100%
  max-width: 960px
  margin: 0 auto
  box-sizing: border-box

[class*="col-"]
  box-sizing: border-box
  display: inline-block
  padding-right: 20px;

.col-1-2
  width: 50%

.col-omega
  padding-right: 0

.no-pad
  padding: 0

.col-1-1
  width: 100%

.col-1-2
  width: 50%

.col-1-3
  width: 33.3%

.col-1-4
  width: 25%


.push-down--1
  margin-top: 1%

.push-down--2
  margin-top: 2%

.truncate
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;