.font--larger {
  font-size: 24px;
}
.font--large {
  font-size: 20px;
}
.font--normal {
  font-size: 16px;
}
.text--right {
  text-align: right;
}
body {
  background-color: #bbb;
}
ul {
  list-style: none;
  -webkit-padding-start: 0;
}
h2 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #666;
}
.color-primary {
  color: #e5c611;
}
.color-primary--lighter {
  color: #f0d63a;
}
.color-gray--darker {
  color: #333;
}
.btn {
  border: 0;
  padding: 20px;
  color: #fff;
  transition: 0.3s all ease;
  font-weight: bold;
  text-align: center;
}
.btn--primary {
  background-color: #e5c611;
}
.btn--primary:hover {
  background-color: #b79e0e;
  transition: 0.3s all ease;
}
.btn--primary.active {
  background-color: #f0d63a;
}
.btn--primary.active:hover {
  background-color: #b79e0e;
  transition: 0.3s all ease;
}
.btn--secondary {
  background-color: #e67e22;
}
.btn--secondary:hover {
  background-color: #be6415;
  transition: 0.3s all ease;
}
.btn--secondary.active {
  background-color: #eb984e;
}
.btn--secondary.active:hover {
  background-color: #be6415;
  transition: 0.3s all ease;
}
.btn--danger {
  background-color: #d14233;
}
.btn--danger:hover {
  background-color: #aa3326;
  transition: 0.3s all ease;
}
.btn--danger.active {
  background-color: #da685c;
}
.btn--danger.active:hover {
  background-color: #aa3326;
  transition: 0.3s all ease;
}
input[type="text"] {
  color: #333;
  border: 1px solid #bbb;
  font-size: 24px;
  width: 100%;
}
.border--lighter {
  border: 1px solid;
}
.media,
.media__img img {
  width: 100%;
}
.media__body--top {
  vertical-align: top;
}
.hidden {
  visibility: hidden;
}
.row {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5px 0;
}
[class*="col-"] {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
}
.col-1-2 {
  width: 50%;
}
.col-omega {
  padding-right: 0;
}
.no-pad {
  padding: 0;
}
.col-1-1 {
  width: 100%;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.3%;
}
.col-1-4 {
  width: 25%;
}
.col-1-6 {
  width: 16.667%;
}
.col-1-8 {
  width: 12.5%;
}
.push-1-4 {
  margin-left: 25%;
}
.col-7-8 {
  width: 87.5%;
}
.push-down--1 {
  margin-top: 1%;
}
.push-down--2 {
  margin-top: 2%;
}
.push-down--3 {
  margin-top: 3%;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
