body
  nav.row
    div.col-1-2
      a.color--primary.font--larger(href="/") Conscious
    ul.col-1-2
      li
        a.btn.btn--primary(href="/categories", data-ui-role="brand") Categories
  section.row
    section(data-hook="page-container")