body
  nav.row.push-down--1
    div.col-1-2
      a.color-primary--lighter.font--larger(href="/", data-ui-role="brand") Conscious
    section.js-nav-links.col-1-2
      a.col-1-3.btn.btn--primary(href="/", data-hook="link-home") Home
      a.col-1-3.btn.btn--primary(href="/categories") Categories
      a.col-1-3.text--right.truncate(href="users/me", data-hook="username")
  section.row(data-hook="page-container")
